In [1]:
import numpy as np
import pandas as pd
from binance.client import Client
from EmpiricalDataModel import *
from utils import *
import warnings
warnings.filterwarnings("ignore")

/home/hermes/anaconda3/envs/Cobra/lib/python3.10/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Cryptocurrencies

## BTC

In [3]:
btc = get_binance_data_batch(
    start=1514752200, 
    stop=None, 
    interval='1h', 
    symbol="BTCUSDT"
)
btc

                         Open      High       Low     Close       Volume
Datetime
2017-08-17 04:00:00   4261.48   4313.62   4261.32   4308.83    47.181009
2017-08-17 05:00:00   4308.83   4328.69   4291.37   4315.32    23.234916
2017-08-17 06:00:00   4330.29   4345.45   4309.37   4324.35     7.229691
2017-08-17 07:00:00   4316.62   4349.99   4287.41   4349.99     4.443249
2017-08-17 08:00:00   4333.32   4377.85   4333.32   4360.69     0.972807
...                       ...       ...       ...       ...          ...
2023-05-09 08:00:00  27666.63  27670.23  27550.94  27569.87  1667.221670
2023-05-09 09:00:00  27569.87  27598.47  27534.93  27579.99  1316.577580
2023-05-09 10:00:00  27580.00  27651.22  27553.38  27584.56  1353.149310
2023-05-09 11:00:00  27584.56  27728.99  27517.70  27678.31  1759.033520
2023-05-09 12:00:00  27678.31  27815.80  27644.99  27793.78  1648.678090

[50065 rows x 5 columns]

## ETH

In [5]:
eth = get_binance_data_batch(
    start=1514752200, 
    stop=None, 
    interval='1h', 
    symbol="ETHUSDT"
)
eth

                        Open     High      Low    Close       Volume
Datetime
2017-08-17 04:00:00   301.13   302.57   298.00   301.61    125.66877
2017-08-17 05:00:00   301.61   303.28   300.00   303.10    377.67246
2017-08-17 06:00:00   302.40   304.44   301.90   302.68    303.86672
2017-08-17 07:00:00   302.68   307.96   302.60   307.96    754.74510
2017-08-17 08:00:00   307.95   309.97   307.00   308.62    150.75029
...                      ...      ...      ...      ...          ...
2023-05-09 08:00:00  1848.61  1849.20  1838.61  1841.00  11428.71700
2023-05-09 09:00:00  1841.00  1844.18  1838.37  1840.01  10855.02760
2023-05-09 10:00:00  1840.01  1847.20  1839.24  1841.77   8513.73670
2023-05-09 11:00:00  1841.77  1849.50  1834.06  1846.76  11247.76240
2023-05-09 12:00:00  1846.76  1854.59  1844.82  1849.15  10514.36840

[50065 rows x 5 columns]

## Litecoin

In [9]:
ltc = get_binance_data_batch(
    start=1514752200, 
    stop=None, 
    interval='1h', 
    symbol="LTCUSDT"
)
ltc

                       Open    High     Low   Close       Volume
Datetime
2017-12-13 03:00:00  272.00  288.00  272.00  276.00    130.86075
2017-12-13 04:00:00  276.00  288.00  269.99  279.00    606.48130
2017-12-13 05:00:00  279.00  330.00  279.00  302.00    383.76674
2017-12-13 06:00:00  302.00  304.11  286.00  291.13    351.59475
2017-12-13 07:00:00  291.13  296.00  285.00  287.00    165.12420
...                     ...     ...     ...     ...          ...
2023-05-09 08:00:00   78.75   78.88   78.43   78.61  34572.66600
2023-05-09 09:00:00   78.62   78.99   78.57   78.75  27397.98900
2023-05-09 10:00:00   78.76   79.68   78.66   79.35  47964.37200
2023-05-09 11:00:00   79.35   79.54   78.80   79.17  28278.04500
2023-05-09 12:00:00   79.17   79.46   79.00   79.15  15751.72800

[47240 rows x 5 columns]

# Forex